
/*watch页面大小*/
.watchpage{
	width: 1000px;
	margin: 0px auto;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	margin-top: 30px;
	height: 1900px;
}
/*watch页面大小*/


/*html5播放器*/
.video {
	width: 620px;
	float: left;
	padding-top: 0px;
}
.video span{
	text-align: center;
}
/*html5播放器*/



/*右边电影信息*/
.watch_movie_information{
	width: 350px;
	height: 350px;
	float: left;
	margin-left: 28px;
	margin-top: 50px;
	padding-top: 0px;

}
/*右边电影信息*/


/*电影简介*/
.movie_intro{
	width: 1000px;
	height: 170px;
	border-top: 1px solid #ccc;
	float: left;
	margin-top: 25px;
}
.movie_intro span{
	font-size: 15px;
	margin-top: 10px;
	display: block;
}
/*电影简介*/

/*电影推荐*/
.movie_recommend{
	width: 1000px;
	height: 260px;
	border-bottom: 1px solid #ccc;
	float: left;
	margin-top: 10px;
	margin-bottom: 50px;
}
.movie_recommend span{
	text-align: center;
	margin: 0px auto;
	display: block;
	font-size: 16px;
}
.movie_recommend1{
	width: 140px;
	height: 185px;
	float: left;
	margin-left: 40px;
	margin-top: 20px;

}
/*电影推荐*/



/*多说评论*/
.watchduoshuo{
	width: 1000px;
	margin: 0px auto;
}
/*多说评论*/



/*资源分享出样式*/
.down{
	width: 1000px;
	height: 100px;
	margin:0px auto;
	border: 1px solid red;
}
/*资源分享出样式*/




/*观看页面顶部弹窗*/
#alert_watch{
	width: 1000px;
	margin: 0px auto;
}
/*观看页面顶部弹窗*/
